<% if (page.title) { %>
<h1 class="card-title h3 mb-2"><%- page.title %></h1>
<% } %>
<%
  var lazyloadImgSrc = '';
  if (theme.vendors.lazyload_img) {
    lazyloadImgSrc = theme.vendors.lazyload_img;
  } else {
    lazyloadImgSrc = url_for('img/suka-lazyload.gif');
  }
%>
<div class="post-header-info">
	<img class="author-thumb lazyload" data-src="<%= url_for(theme.img.avatar) %>" src="<%= lazyloadImgSrc %>"
		alt="<%= config.author %>'s Avatar">
	<span><%= date(page.date, config.date_format) %></span>
</div>