<nav class="navbar-section text-center">
  <a href="<%= url_for('/') %>" class="navbar-link">Home</a>
  <a href="<%= url_for('archives/') %>" class="navbar-link">Archives</a>
  <a href="<%= url_for('tags/') %>" class="navbar-link">Tags</a>
  <a href="<%= theme.nav.search.link %>" class="navbar-link">Search</a>
  <a href="<%= url_for(config.feed.path) %>" target="_blank" class="navbar-link">RSS</a>
</nav>