<script>
  let oriTitleFontSize;
  let incTitleFontSize;
  let oriBodyFontSize;
  let incBodyFontSize;
  let oriContentFontSize;
  let incContentFontSize;

  let getFontSize = selector => {
    let element = document.querySelector(selector);

    if (element !== null) {
      let oriFontSize = window.getComputedStyle(element).fontSize;
      let incFontSize = parseInt(oriFontSize) * 1.2 + 'px';

      return [
        oriFontSize,
        incFontSize
      ];
    }

    return [0, 0];
  };

  let toggleFontSize = selector => oriFontSize => incFontSize => {
    let element = document.querySelector(selector);
    if (element !== null) {
      let fontSize = window.getComputedStyle(element).fontSize;

      if (fontSize === oriFontSize) {
        document.querySelectorAll(selector).forEach(
          x => x.style['font-size'] = incFontSize
        );
      } else {
        document.querySelectorAll(selector).forEach(
          x => x.style['font-size'] = oriFontSize
        );
      }
    }
  };

  let increaseFontSize = () => {
    toggleFontSize('.post-entry a.card-title')(oriTitleFontSize)(incTitleFontSize);
    toggleFontSize('.post-entry .card-body')(oriBodyFontSize)(incBodyFontSize);
    toggleFontSize('#post-content')(oriContentFontSize)(incContentFontSize);
  };

  window.onload = function () {
    let result = getFontSize('.post-entry a.card-title');
    oriTitleFontSize = result[0];
    incTitleFontSize = result[1];

    result = getFontSize('.post-entry .card-body');
    oriBodyFontSize = result[0];
    incBodyFontSize = result[1];

    result = getFontSize('#post-content');
    oriContentFontSize = result[0];
    incContentFontSize = result[1];
  };

</script>
<nav class="navbar-section text-center">
  <div class="columns">
    <div class="column col-1"></div>
    <div class="column col-10 col-sm-12 align-content-center">
      <a href="<%= url_for('/') %>" class="navbar-link">Home</a>
      <a href="<%= url_for('archives/') %>" class="navbar-link">Archives</a>
      <a href="<%= url_for('tags/') %>" class="navbar-link">Tags</a>
      <a href="<%= theme.nav.search.link %>" class="navbar-link">Search</a>
      <a href="<%= url_for(config.feed.path) %>" target="_blank" class="navbar-link">RSS</a>
    </div>
    <div class="column col-1 increase-font-size">
      <a class="hide-sm" style="cursor: pointer;" onclick="increaseFontSize()"><img
          src="/images/svg/font-size.svg"
          alt="font size" class="font-size"></a>
    </div>
  </div>
</nav>