<h2 class="h5 mb-0 card-header">
  <a class="card-title" href="<%= url_for(post.path) %>">
    <%- post.title %>
  </a>
</h2>
<p class="mb-0 card-body">
  <%- post.excerpt.slice(3, -4) %>
</p>
<!-- Date & Category -->
<div class="card-footer post-entry-info ">
  <div class="columns col-gapless">
    <div class="column column-6 text-gray">
      <img class="author-thumb lazyload" src="<%= url_for(theme.img.avatar) %>" alt="<%= config.author %>'s Avatar">
      <time><%= date(post.date, config.date_format) %></time>
    </div>
    <div class="column column-6 read-more">
      <a href="<%= url_for(post.path) %>">Read more</a>
    </div>
  </div>
</div>