<% if (theme.vendors.lazyload_img) { %>
<script src="<%= theme.vendors.lazyload %>" async></script>
<% } else { %>
<script src="<%- url_for('lib/vanilla-lazyload/lazyload.min.js') %>" async></script>
<% } %>
<article class="post-entry container px-0 card">
    <div class="columns col-gapless">
        <% if (post.thumbnail) { %>
        <div class="column column-thumbnail col-3 col-lg-12" style="text-align: center;background-color: #f2f2f2;">
            <!-- <a href="<%= url_for(post.path) %>">
                <div class="post-thumbnail lazyload" data-bg="url(<%= post.thumbnail %>)"></div>
            </a> -->
            <img class="post-thumbnail lazyload" src="<%= post.thumbnail %>"
                style="height:128px;width:128px;margin-top: 15px">
        </div>
        <div class=" column column-body col-9 col-lg-12" style="order:0">
            <%- partial('_partial/post-entry-content') %>
        </div>
        <% } else { %>
        <div class="column col-12">
            <%- partial('_partial/post-entry-content') %>
        </div>
        <% } %>
    </div>
</article>