<% if (theme.vendors.lazyload_img) { %>
<script src="<%= theme.vendors.lazyload %>" async></script>
<% } else { %>
<script src="<%- url_for('lib/vanilla-lazyload/lazyload.min.js') %>" async></script>
<% } %>
<article class="post-entry container px-0 card">
  <div class="columns col-gapless">
    <div class="column column-thumbnail col-3 col-lg-12" onclick="window.location='<%= url_for(post.path) %>'">
      <a href="<%= url_for(post.path) %>">
        <img class="post-thumbnail" src="/<%= post.feature %>">
      </a>
    </div>
    <div class="column column-body col-9 col-lg-12">
      <%- partial('_partial/post-entry-content') %>
    </div>
  </div>
</article>